<div *ngFor="let customer of data" [@appeard]="state">
  <div class="content">
    <div class="name">
      <app-item label="Nome" value="{{ customer.name ? customer.name : '-' }}" type="standard"></app-item>
    </div>

    <div class="edit">
      <button color="basic" mat-mini-fab>
        <mat-icon>edit</mat-icon>
      </button>
    </div>
    
    <div class="email">
      <app-item label="E-mail" value="{{ customer.contact.email ? customer.contact.email : '-' }}" type="standard"></app-item>
    </div>

    <div class="cpf">
      <app-item label="CPF" value="{{ customer.cpf ? (customer.cpf | cpf) : '-' }}" type="standard"></app-item>
    </div>

    <div class="cel">
      <app-item label="Celular" value="{{ customer.contact.cel ? (customer.contact.cel | cel) : '-' }}" type="standard"></app-item>
    </div>

    <div class="state">
      <app-item label="Estado" value="{{ customer.address.state ? customer.address.state : '-' }}" type="standard"></app-item>
    </div>
  </div>
</div>