<div class="root" [@appeard]="state">
  <div class="container-fluid">
    <div class="content">

      <div class="text">
        <h1 class="title">Ícones</h1>
        <p>Abaixo exemplos de ícones</p>
      </div>

      <div class="row" *ngIf="show" [@list]="content.length">
        <ng-container *ngFor="let item of content">
          <div class="col-12 col-md-6" *ngIf="item.isLoading">
            <div class="item">
              <app-spinner [label]="item.label ? item.label : ''" [size]="1.3"></app-spinner>
              <div *ngIf="item.name" class="label loading">{{ item.name }}</div>
            </div>

            <pre>
              <span>
                {{ item.code }}
              </span>
  
              <mat-icon 
                (click)="clip(item.code)" 
                matTooltipPosition="above" 
                matTooltip="Clique para copiar">
                content_copy
              </mat-icon>
            </pre>
          </div>
        </ng-container>
      </div>

      <div class="bar"></div>

      <div class="row" *ngIf="show" [@list]="content.length">
        <ng-container *ngFor="let item of content">
          <div class="col-12 col-md-4" *ngIf="!item.isLoading">
            <div class="item">
              <mat-icon>{{ item.id }}</mat-icon>
              <div class="label">{{ item.name }}</div>
            </div>

            <pre>
              <span>
                {{ item.code }}
              </span>
  
              <mat-icon 
                (click)="clip(item.code)" 
                matTooltipPosition="above" 
                matTooltip="Clique para copiar">
                content_copy
              </mat-icon>
            </pre>
          </div>
        </ng-container>
      </div>

    </div>
  </div>
</div>