@import "/src/app/scss/includes.scss";

.primary {
  background: $color-primary !important;
  color: $color-white !important;

  &:disabled {
    background: $color-primary !important;
    opacity: 0.5;
  }
}
