<div class="root">
  <div class="container-fluid">
    <div class="content">

      <div class="core" [@appeard]="state">
        <div class="text">
          <h1>Listagem de clientes</h1>
          <p>Visualize, pesquise e edite clientes</p>
        </div>

        <div class="input">
          <mat-icon matTooltip="Pesquise por qualquer item da tabela">person_search</mat-icon>

          <app-input 
            [form]="customerForm" 
            label="Clientes" 
            placeholder="Pesquisar clientes..."
            control="customerControl" 
            type="text"
            [required]="false">
          </app-input>
        </div>
      </div>

      <ng-container *ngIf="!isLoading && customers.length">
        <div class="customer-table" *ngIf="!isMobile">
          <app-table [customers]="customers"></app-table>
        </div>
        
        <div class="customer-list" *ngIf="isMobile">
            <app-list [customers]="customers"></app-list>
        </div>
      </ng-container>

      <ng-container *ngIf="!isLoading && !customers.length">
        <p class="error" [@appeard]="state">
          <mat-icon>sentiment_very_dissatisfied</mat-icon>
          Não foram encontrados clientes
        </p>
      </ng-container>

      <ng-container *ngIf="isLoading">
        <div class="loading" [@appeard]="state">
            <app-spinner
                label="Carregando clientes..."
                [size]="1.3">
            </app-spinner>
        </div>
      </ng-container>

    </div>
  </div>
</div>