@import "/src/app/scss/includes.scss";

.root {
    @include grid(32);

    .container-fluid {
        @include grid-column-span(32);
        margin-bottom: 32px;
        margin-top: 32px;

        .content {
            border: 0px;
            padding: 64px;
            margin: 24px 0;
            border-radius: 0.8rem;
            background: $color-background;
            box-shadow: 0px 8px 24px $color-shadow;

            @include large-and-down {
                padding: 18px;
            }

            .core {
                @include between;
                @include large-and-down {
                    display: block;
                    text-align: center;
                }

                .text {
                    text-decoration: none;

                    h1 {
                        margin: 0;
                        text-align: start;
                        font-weight: bold;

                        @include large-and-down {
                            text-align: center;
                        }
                    }

                    p {
                        margin: 0;
                        text-align: start;

                        @include large-and-down {
                            margin-bottom: 24px;
                            text-align: center;
                        }
                    }
                }

                .input {
                    @include start;
                    width: 50%;

                    @include large-and-down {
                        width: 100%;
                    }

                    mat-icon {
                        cursor: default;
                        margin-right: 12px;
                    }
                }

                app-input {
                    width: 100%;
                }
            }

            .customer-table {
                width: 100%;
                margin-top: 52px;
                box-shadow: 0px 8px 24px $color-shadow;
            }

            .customer-list {
                width: 100%;
                margin-top: 32px;
                border: 1px solid rgba($color-terciery, 0.1) !important;

                @include large-and-wide {
                    box-shadow: none;
                    border: none !important;
                }
            }

            .loading {
                @include center;
                margin-top: 52px;

                @include large-and-down {
                    margin-bottom: 32px;
                }
            }

            .error {
                @include center;
                margin-top: 52px;

                mat-icon {
                    margin-right: 6px;
                }
            }
        }
    }
}
