// Variables
:root {
    --color-primary: #1da1f2;
    --color-secondary: #bbdefb;
    --color-terciery: #657786;
    --color-primary-hover: #2196f3;
    --color-secondary-bg: #e1e8ed;
    --color-background: #f5f8fa;
    --color-text: #14171a;
    --color-shadow: rgba(149, 157, 165, 0.2);
    --color-border: rgba(0, 0, 0, 0.06);
    --color-white: #ffffff;
    --color-black: #000000;
    --color-grey: #717171;
    --color-green: #28c18d;
    --color-yellow: #ffbc00;
    --color-red: #d23b3b;
    --color-blue: #1da1f2;
    --color-danger: #e73f5d;
    --color-danger-hover: #d73754;
    --color-disabled: #cbcbcb;

    .dark-theme {
        --color-secondary-bg: #141d26;
        --color-background: #14171a;
        --color-text: #ffffff;
        --color-shadow: rgba(0, 0, 0, 0.2);
        --color-border: rgba(0, 0, 0, 0.2);
    }
}

// Breakpoints
$breakpoint-xsmall: 0;
$breakpoint-small: 576px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
$breakpoint-wide: 1025px;
$breakpoint-xlarge: 1200px;
$breakpoint-table: 1246px;

// Colors
$color-primary: var(--color-primary);
$color-secondary: var(--color-secondary);
$color-terciery: var(--color-terciery);
$color-primary-hover: var(--color-primary-hover);
$color-secondary-bg: var(--color-secondary-bg);
$color-background: var(--color-background);
$color-text: var(--color-text);
$color-shadow: var(--color-shadow);
$color-border: var(--color-border);
$color-white: var(--color-white);
$color-black: var(--color-black);
$color-grey: var(--color-grey);
$color-green: var(--color-green);
$color-yellow: var(--color-yellow);
$color-red: var(--color-red);
$color-blue: var(--color-blue);
$color-danger: var(--color-danger);
$color-danger-hover: var(--color-danger-hover);
$color-disabled: var(--color-disabled);

// Grid
$grid-columns: 12;

// Font
$font-roboto: Roboto, "Helvetica Neue", sans-serif;
$font-montserrat: "Montserrat", sans-serif;
