@import "/src/app/scss/includes.scss";

mat-form-field {
  width: 100%;
}

p {
  margin-top: 1rem;
}

.error {
  color: $color-red !important;
}

.disabled {
  color: $color-disabled !important;

  @include large-and-up {
    &:hover {
      cursor: no-drop !important;
    }
  }
}
