@import "/src/app/scss/includes.scss";

div {
  padding: 1rem;
}

table {
  background-color: $color-background !important;
}

mat-paginator {
  background-color: $color-background !important;
  margin-top: 1rem;
}

.full-width-table {
  width: 100%;

  .profile-table {
    @include start;

    img {
      width: 10%;
      border-radius: 50%;
    }
  }

  .mat-mdc-row {
    &:hover {
      background-color: $color-secondary-bg !important;
    }
  }

  .mat-column-id {
    width: 5%;
  }

  .mat-column-name {
    width: 25%;
  }

  .mat-column-email {
    width: 30%;
  }

  .mat-column-state {
    width: 10%;
  }

  .mat-column-cel {
    width: 25%;
  }

  .mat-column-edit {
    width: 5%;
    cursor: pointer;
  }

  .mat-column-description {
    width: 50%;
  }

  .mat-column-forks {
    width: 10%;
    padding-left: 8px;
  }

  .mat-column-language {
    width: 10%;
  }

  .mat-column-url {
    width: 5%;
    cursor: pointer;
  }

  .cursor-default {
    cursor: default;
  }

  .font-bold {
    font-weight: bold;
  }
}
