@import "/src/app/scss/includes.scss";

div {
  padding: 1rem;
}

table {
  background-color: $color-background !important;
}

mat-paginator {
  background-color: $color-background !important;
}

.full-width-table {
  width: 100%;

  .profile-table {
    @include start;

    img {
      width: 10%;
      border-radius: 50%;
    }
  }

  .mat-mdc-row {
    &:hover {
      background-color: $color-secondary-bg !important;
    }
  }

  .mat-column-name {
    width: 15%;
  }

  .mat-column-email {
    width: 20%;
  }

  .mat-column-cpf {
    width: 20%;
  }

  .mat-column-state {
    width: 20%;
  }

  .mat-column-cel {
    width: 20%;
  }

  .mat-column-edit {
    width: 5%;
    cursor: pointer;
  }
}
