<div class="root" [@appeard]="state">
  <div class="container-fluid">
    <div class="content">

      <div class="text">
        <h1 class="title">Inputs</h1>
        <p>Abaixo exemplos de inputs</p>
      </div>

      <div class="row" *ngIf="show" [@list]="content.length">
        <div class="col-12 col-md-6 mb-3" *ngFor="let item of content">

          <ng-container *ngIf="!item.isSearch">
            <div class="label">{{ item.name }}</div>

            <app-input 
              [form]="form" 
              [type]="item.type" 
              [label]="item.label"
              [mask]="item.mask" 
              [control]="item.control" 
              [required]="item.required"
              [disabled]="item.disabled"
              [placeholder]="item.placeholder">
            </app-input>

            <pre>
              <span>{{ item.code }}</span>

                <mat-icon 
                  (click)="clip(item.code)" 
                  matTooltipPosition="above" 
                  matTooltip="Clique para copiar">
                  content_copy
                </mat-icon>
            </pre>
          </ng-container>

          <ng-container *ngIf="item.isSearch">
            <div class="label">{{ item.name }}</div>

            <div class="search">
              <mat-icon>person_search</mat-icon>
    
              <app-input 
                [form]="form" 
                [type]="item.type" 
                [label]="item.label"
                [control]="item.control" 
                [required]="item.required" 
                [disabled]="item.disabled"
                [placeholder]="item.placeholder">
              </app-input>
            </div>

            <p class="search-text" *ngIf="form.value?.search">Pesquisando por '{{ form.value.search }}'</p>

            <pre>
              <span>{{ item.code }}</span>

              <mat-icon 
                (click)="clip(item.code)" 
                matTooltipPosition="above" 
                matTooltip="Clique para copiar">
                content_copy
              </mat-icon>
            </pre>
          </ng-container>
        </div>

        <div class="col-12" [@appeard]="state">
          <div class="label">CEP</div>
          <app-cep [form]="form" [required]="false" (input)="cleanCep($event)" (addressByCepEvent)="getAddress($event)"></app-cep>

          <pre *ngIf="cep.cep && form.value.cep">
            {{ cep | json }}
          </pre>

          <pre>
            <span>{{ cepCode }}</span>

            <mat-icon 
              (click)="clip(cepCode)" 
              matTooltipPosition="above" 
              matTooltip="Clique para copiar">
              content_copy
            </mat-icon>
          </pre>
        </div>
      </div>

    </div>
  </div>
</div>