<div class="root">
    <div class="container-fluid">
        <div class="content" [@appeard]="state">
            <ng-container *ngIf="!isLoading">
                <div class="header">
                    <h1 *ngIf="!customer">Novo cliente</h1>
                    <h1 *ngIf="customer">Cliente {{ customer.name }}</h1>
                    <p *ngIf="customer">Exibindo detalhes do cliente '{{ customer.name }}#{{ customer.id }}'</p>
                </div>
            </ng-container>

            <div class="loading" *ngIf="isLoading">
                <app-spinner 
                    label="Carregando cliente..." 
                    [size]="1.3"> 
                </app-spinner>
            </div>

            <div class="form" *ngIf="!isLoading">
                <form [formGroup]="form" *ngIf="show" [@appeard]="state">

                    <legend>Detalhes do cliente</legend>

                    <div class="row">
                        <ng-container *ngFor="let input of generalInputs">
                            <div [class]="input.class">
                                <app-input 
                                    [form]="form" 
                                    [label]="input.label" 
                                    [placeholder]="input.placeholder"
                                    [control]="input.control" 
                                    [disabled]="input.disabled"
                                    [type]="input.type"
                                    [mask]="input.mask" 
                                    [required]="input.required">
                                </app-input>
                            </div>
                        </ng-container>
                    </div>

                    <legend>Contatos do cliente</legend>

                    <div class="row">
                        <ng-container *ngFor="let input of contactInputs">
                            <div [class]="input.class">
                                <app-input 
                                    [form]="form" 
                                    [label]="input.label" 
                                    [placeholder]="input.placeholder"
                                    [control]="input.control"
                                    [disabled]="input.disabled" 
                                    [type]="input.type" 
                                    [mask]="input.mask"
                                    [required]="input.required">
                                </app-input>
                            </div>
                        </ng-container>
                    </div>

                    <legend>Endereço do cliente</legend>

                    <div class="row">
                        <app-cep
                            (addressByCepEvent)="getAddress($event)"
                            [required]="true"
                            class="input col-12 col-md-3"
                            [form]="form">
                        </app-cep>

                        <ng-container *ngFor="let input of addressInputs">
                            <div [class]="input.class">
                                <app-input 
                                    [form]="form" 
                                    [label]="input.label" 
                                    [placeholder]="input.placeholder"
                                    [control]="input.control"
                                    [disabled]="input.disabled" 
                                    [type]="input.type" 
                                    [mask]="input.mask"
                                    [required]="input.required">
                                </app-input>
                            </div>
                        </ng-container>
                    </div>
                </form>
            </div>

            <div class="buttons" *ngIf="!isLoading">
                <div class="actions">
                    <app-button (click)="cancel()" routerLink="/customer/list" icon="arrow_back" theme="secondary" label="Voltar"></app-button>
                    <app-button (click)="openDialog()" [disabled]="form.invalid" icon="save" theme="primary" label="Salvar"></app-button>
                </div>

                <div class="delete">
                    <app-button *ngIf="isEdit" (click)="openRemoveDialog()" icon="delete" theme="warn" label="Excluir"></app-button>
                </div>
            </div>
        </div>
    </div>
</div>