<div class="root" [@appeard]="state">
  <div class="container-fluid">
    <div class="content">

      <div class="text">
        <h1 class="title">Pipes</h1>
        <p>Abaixo exemplos de pipes</p>
      </div>

      <div class="row" *ngIf="show" [@list]="content.length">
        <div class="col-12 col-md-4" *ngFor="let item of content">
          <h4 class="label">{{ item.name }}</h4>

          <div>
            <p *ngIf="item.type === 'cpf'">{{ item.value | cpf }}</p>
            <p *ngIf="item.type === 'cnpj'">{{ item.value | cnpj }}</p>
            <p *ngIf="item.type === 'currency'">{{ item.value | currency: "BRL":"symbol" }}</p>
            <p *ngIf="item.type === 'date'">{{ item.value | date:"MM/dd/yyyy" }}</p>
            <p *ngIf="item.type === 'percent'">{{ item.value | percent }}</p>
            <p *ngIf="item.type === 'account'">{{ item.value | account }}</p>
            <p *ngIf="item.type === 'cep'">{{ item.value | cep }}</p>
            <p *ngIf="item.type === 'cel'">{{ item.value | cel }}</p>
            <p *ngIf="item.type === 'tel'">{{ item.value | tel }}</p>
            
            <pre>
              <span>
                {{ item.usage }}
              </span>
  
              <mat-icon 
                (click)="clip(item.usage)" 
                matTooltipPosition="above" 
                matTooltip="Clique para copiar">
                content_copy
              </mat-icon>
            </pre>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>