@import "/src/app/scss/includes.scss";

.root {
    @include grid(32);

    .container {
        @include grid-column-span(32);
        margin-bottom: 32px;
        margin-top: 32px;

        .content {
            border: 0px;
            padding: 64px;
            border-radius: 0.8rem;
            margin: 58px 0 24px 0;
            background: $color-background;
            box-shadow: 0px 8px 24px $color-shadow;

            @include large-and-down {
                padding: 32px;
            }

            h1 {
                margin: 0;
                text-align: center;
                font-weight: bold;
            }

            p {
                margin: 0;
                text-align: center;
            }

            .row {
                text-align: center;
                margin-top: 4px;
            }

            .icon {
                color: $color-primary;
                font-size: 65px;
            }

            .text {
                text-align: center;
                margin-bottom: 2rem;
            }

            .bar {
                margin: 1.5rem 0;
                border-bottom: 1px solid $color-border;
            }

            .about {
                text-align: justify;
                line-height: 1.5;
                margin-top: 1rem;
            }

            .buttons {
                @include center;
                margin-top: 2rem;

                button {
                    margin: 10px;
                }

                .svg {
                    @include center;
                    width: 14px;
                }
            }

            .img-profile {
                max-width: 10rem;
                max-height: 10rem;
                transform: scale(1);
                transition: transform 0.1s;
                border: 0.5rem solid $color-primary;

                @include large-and-up {
                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
}
