<div class="root" [@appeard]="state">
  <div class="container">
    <div class="content">

      <div class="text-center mb-2">
        <img class="img" src="/assets/angular.png" />
      </div>

      <h1 id="home-title">Front End</h1>

      <p>Onboarding OmniChat</p>

      <div class="bar"></div>

      <p class="description">
        Projeto referente ao onboarding de frontend da <strong>OmniChat</strong>.
        <br>
        Para acessar a listagem de clientes, clique no item <span class="color-primary"><strong>Clientes</strong></span> no menu do topo da página.
      </p>

    </div>
  </div>
</div>