<div class="root">
  <nav class="nav">
    <div class="container-fluid">
      <div class="content">

        <div class="menu">
          <button 
            [matMenuTriggerFor]="menu" 
            matTooltipPosition="right" 
            matTooltip="Menu" 
            color="basic"
            mat-mini-fab>

            <mat-icon>menu</mat-icon>
          </button>

          <mat-menu #menu="matMenu">
            <ng-container *ngFor="let item of routes">
              <button 
                [matMenuTriggerFor]="item.children ? children : null" 
                [routerLink]="item.route ? item.route : null" 
                class="button-menu"
                mat-menu-item>

                <mat-icon>{{ item.icon }}</mat-icon>
                <span>{{ item.label }}</span>
              </button>

              <mat-menu #children="matMenu">
                <button 
                  *ngFor="let child of item.children" 
                  (click)="goTo(child.route, child.isExternal)" 
                  class="button-menu"
                  mat-menu-item>

                  <mat-icon>{{ child.icon }}</mat-icon>
                  <span>{{ child.label }}</span>
                </button>
              </mat-menu>
            </ng-container>
          </mat-menu>
        </div>

        <button 
          [matTooltip]="toggleTooltip()" 
          matTooltipPosition="left" 
          (click)="toggleTheme()"
          color="basic"
          mat-mini-fab>

          <mat-icon>{{ themeIcon.icon }}</mat-icon>
        </button>

      </div>
    </div>
  </nav>
</div>