<div class="root">
  <nav class="nav">
    <div class="container-fluid">
      <div class="content">

        <div class="menu">
          <button 
            [matMenuTriggerFor]="menu" 
            matTooltipPosition="right" 
            matTooltip="Menu" 
            color="basic"
            mat-mini-fab>

            <mat-icon>menu</mat-icon>
          </button>

          <mat-menu #menu="matMenu">
            <ng-container *ngFor="let item of content">
              <button mat-menu-item [routerLink]="item.route" class="button-menu">
                <mat-icon>{{ item.icon }}</mat-icon>
                <span>{{ item.label }}</span>
              </button>
            </ng-container>
          </mat-menu>
        </div>

        <button 
          [matTooltip]="toggleTooltip()" 
          matTooltipPosition="left" 
          (click)="toggleTheme()"
          color="basic"
          mat-mini-fab>

          <mat-icon>{{ themeIcon.icon }}</mat-icon>
        </button>

      </div>
    </div>
  </nav>
</div>