@use "@angular/material" as mat;

@import "app/scss/includes.scss";
@import "@angular/material/theming";

$accent: mat.define-palette(mat.$blue-grey-palette, A100);
$primary: mat.define-palette(mat.$blue-palette);
$warn: mat.define-palette(mat.$red-palette);

$light-theme: mat.define-light-theme((color: (primary: $primary, accent: $accent, warn: $warn)));
$dark-theme: mat.define-dark-theme((color: (primary: $primary, accent: $accent, warn: $warn)));
$typography: mat-typography-config($font-family: '"Montserrat", sans-serif;');

@include mat.core();
@include mat.all-component-themes($light-theme);
@include mat.all-component-typographies($typography);

.dark-theme {
  @include mat.all-component-colors($dark-theme);
  @include mat.button-color($dark-theme);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
label,
pre,
blockquote,
figure,
hr {
  margin: 0;
  padding: 0;
  color: $color-text;
}

p {
  color: $color-text;
  line-height: 1.25;
  font-size: 1rem;
  padding: 0;
  margin: 0;
}

html,
body {
  background-color: $color-background;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  line-height: 1.25;
  font-size: 16px;
  height: 100%;
  margin: 0;

  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-track {
    background: $color-background;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color-primary;
    border: 3px solid $color-background;
    border-radius: 20px;
  }
}

img {
  vertical-align: baseline;
  max-width: 100%;
  padding: 0;
  margin: 0;
  border: 0;
}

::selection {
  background: $color-primary;
  color: $color-white;
}

a {
  color: $color-text;
  text-decoration: none;
}

.color-primary {
  color: $color-primary;
}

.cdk-overlay-container {
  @include z-index("universe");
}

.cdk-overlay-backdrop {
  backdrop-filter: blur(8px);
}

.mat-mdc-menu-content {
  background-color: $color-background;
}

.mat-mdc-menu-submenu-icon {
  display: none;
}
