<div class="root" [@appeard]="state">
  <div class="container-fluid">
    <div class="content">

      <div class="text">
        <h1 class="title">Tables</h1>
        <p>Abaixo exemplos de tabelas</p>
      </div>

      <div class="row" *ngIf="show" [@list]="tables.length">
        <div class="col-12 mb-3" *ngFor="let item of tables">
          <div class="text-center mt-3">
            <app-spinner *ngIf="isLoading" [size]="1.3"></app-spinner>
          </div>

          <ng-container *ngIf="data.length && !isLoading">
            <div class="label">{{ item.name }}</div>

            <div class="table-page">
              <app-table [data]="data"></app-table>
            </div>

            <pre>
              {{ item.code }}
    
              <mat-icon 
                (click)="clip(item.code)" 
                matTooltipPosition="above" 
                matTooltip="Clique para copiar">
                content_copy
              </mat-icon>
            </pre>
          </ng-container>

          <ng-container *ngIf="!isLoading && !data.length">
            <p class="error" [@appeard]="state">
              <mat-icon>sentiment_very_dissatisfied</mat-icon>
              Erro ao carregar os dados da tabela
            </p>
          </ng-container>
        </div>
      </div>

    </div>
  </div>
</div>