<div class="root" [@appeard]="state">
  <div class="container-fluid">
    <div class="content">

      <div class="text">
        <h1 id="typography-title" class="title">Typography</h1>
        <p>Abaixo exemplos de textos</p>
      </div>

      <div class="row" *ngIf="show" [@list]="content.length">
        <div class="col-12 col-md-6" *ngFor="let item of content">
          <h1 *ngIf="item.name === 'Título'" [id]="item.id" class="title">Título</h1>
          <div *ngIf="item.name !== 'Título'" [id]="item.id" [innerHTML]="item.code"></div>

          <pre>
            <span>
            {{ item.code }}
          </span>

            <mat-icon 
              (click)="clip(item.code)" 
              matTooltipPosition="above" 
              matTooltip="Clique para copiar">
              content_copy
            </mat-icon>
          </pre>
        </div>
      </div>

    </div>
  </div>
</div>