<div class="root" [@appeard]="state" resize>
  <div class="wrapper">

    <div *ngIf="!isMobile" class="sidebar">
      <div class="sticky">
        <div *ngIf="show" [@list]="routes.length">
          <div 
            *ngFor="let page of routes" 
            routerLinkActive="button--active" 
            [routerLink]="page.route" 
            class="button">

            <mat-icon>{{ page.icon }}</mat-icon>
            <label>{{ page.label }}</label>
          </div>
        </div>
      </div>
    </div>

    <div class="content">

      <div class="nav-mobile" *ngIf="isMobile">
        <div class="container-fluid">
          <nav [@appeard]="state" mat-tab-nav-bar [tabPanel]="tabPanel">
            <a 
              *ngFor="let page of routes" 
              [routerLink]="page.route" 
              #rla="routerLinkActive" 
              [active]="rla.isActive"
              routerLinkActive
              mat-tab-link>

              <mat-icon>{{ page.icon }}</mat-icon>
              {{ page.label }}
            </a>
          </nav>
        </div>
      </div>

      <mat-tab-nav-panel #tabPanel>
        <router-outlet></router-outlet>
      </mat-tab-nav-panel>
    </div>

  </div>
</div>