@import "/src/app/scss/includes.scss";

.root {
    height: 100%;

    .wrapper {
        display: flex;
        align-items: stretch;
    }

    .sidebar {
        @include z-index("sky");
        border-right: solid 1px $color-border;
        padding: 80px 15px;
        width: 300px;

        .sticky {
            position: sticky;
            top: 80px;
        }

        .button {
            @include start;
            background: $color-secondary-bg;
            padding: 8px 16px;
            border-radius: 5px;
            cursor: pointer;
            outline: none;
            margin-bottom: 4px;

            &:hover {
                background-color: $color-primary-hover;

                mat-icon,
                label {
                    color: $color-white !important;
                }
            }

            label {
                margin-left: 18px;
                cursor: pointer;
                white-space: nowrap;
            }

            &--active {
                background: $color-primary;

                mat-icon,
                label {
                    color: $color-white !important;
                }

                &:hover {
                    background: $color-primary-hover;
                }
            }
        }
    }

    .content {
        padding: 25px 30px;
        width: 100%;

        @include large-and-down {
            padding: 25px 0px;
        }

        .nav-mobile {
            nav {
                margin-top: 5rem;
                width: 100%;
            }

            mat-icon {
                margin-right: 12px;
            }
        }
    }
}
